

.error_msg { 
	color: red;
	margin: 0px;
	font-weight: bold;
}
.success_msg { 
	color: green; 
	margin: 0px;
	font-weight: bold;
}

/* 	Headings
	---------------------------------------------------------------  */

.mc-h3 {
}

/* 	Header
	---------------------------------------------------------------  */

.mailchimp-header {
	background: url(images/mailchimp-header.png) no-repeat;
	background-size: 983px 96px;
	height: 96px;
	width: 983px;
	margin-top: 19px;
}

.mailchimp-header h2 {
	float: right;
	margin-top: 24px;
	margin-right: 12px;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 700;
	color: #fff !important;
	text-shadow: none;
	font-size: 26px !important;
}


/* 	Table 
	---------------------------------------------------------------  */

table.mc-widefat {
	background: #fff !important;
	border: 2px solid #95D1C4 !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	margin-bottom: 24px;

}
table.mc-widefat td,
table.mc-widefat th {
	border-bottom: 1px solid #C5E5DE !important;
	border-top: none !important;
	padding: 18px;
}

table.mc-widefat .last-row td,
table.mc-widefat .last-row th {
	border-bottom: none !important;
}

table.mc-widefat th {
	color: #373737 !important;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 700;
	width: 130px;	
}

table.mc-widefat td label {
	padding-left: 24px;
	display: block;
	margin-top: -13px;
	font-style: normal;
	font-size: 13px;
}

table.mc-widefat td {
	color: #5D5C5D !important;
	font-size: 13px;
	line-height: 18px !important;
}

table.mc-widefat td input {
	display: inline-block;
	font-style: normal;
}


table.mc-widefat tr:first-child {
	background: #95D1C4 !important;
}
table.mc-widefat tr:first-child th {
	color: #fff !important;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 16px;
	margin-left: 9px;
	text-shadow: none;	
	border-bottom: none !important;
}


.mc-internal-heading {
	background: rgba(197,229,222,0.25) !important;	
}
table.mc-widefat tr.mc-internal-heading th {
	text-shadow: none !important;
	color: #449A88 !important;
}

tr.mc-turned-on th {
	color: #449A88 !important;	
}
.mc-custom-styling em,
.mc-custom-styling td {
	font-style: normal;
	font-size: 13px;
}

.mc-custom-styling td span.mc-pre-input {
	width: 14px;
	display: inline-block;
}

.mc-custom-styling td input {
	width: 70px;
	margin-right: 7px;
}





