/* 	Logged Out
	---------------------------------------------------------------  */


/* 	Errors
	---------------------------------------------------------------  */

.error_msg { 
	background: #fadbd5;
	border: 1px solid #db3a1b;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing: border-box;
	color: #373737; 
	font-size: 12px;
	line-height: 16px;
	margin: 12px 0;
	padding: 9px;
	width: 900px;
}
.success_msg,
.notes_msg { 
	background: #fff3d4;
	border: 1px solid #febe12;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing: border-box;
	color: #373737; 
	font-size: 12px;
	line-height: 16px;
	margin: 12px 0;
	padding: 9px;
	width: 900px;
}

/* 	User
	---------------------------------------------------------------  */

table.mc-user {
	width: 900px;
	margin-top: 19px;
}
table.mc-user tr {
	float: right;
}
.mc-user td:first-of-type {
	border-top: 1px solid #6dc5dc;
	border-bottom: 1px solid #6dc5dc;
	border-left: 1px solid #6dc5dc;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	min-width: 200px;
	font-weight: normal !important;
}
.mc-user td:last-of-type {
	border-top: 1px solid #6dc5dc;
	border-right: 1px solid #6dc5dc;
	border-bottom: 1px solid #6dc5dc;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	min-width: 75px;
}

.mc-user h3 {
	font-weight: normal;
	text-indent: 9px;
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}



/* 	List Selection
	---------------------------------------------------------------  */

.mc-list-row {
	width: 900px;
	margin-bottom: 12px;
}

.mc-list-row td:first-of-type {
	min-width: 200px;
	padding: 12px 12px 12px 0;
}
.mc-list-row td:last-of-type {
	width: 80px;
	padding: 12px 12px 12px 0;
}

.mc-list-note {
	color: #5D5C5D;	
	font-size: 13px;
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: normal;
	padding: 0 0 18px;
	margin-bottom: 8px;
	margin-top: 7px;
	border-bottom: 2px solid #95D1C4;
	width: 900px;
}
table.mc-list-select {
	margin-bottom: -40px;
}

/* 	Headings
	---------------------------------------------------------------  */

.mc-h2 {
	color: #373737;	
	font-size: 26px;
	margin-bottom: 0;
}

.mc-h3 {
	color: #52BAD5;
	font-size: 18px;
	margin-bottom: 12px;
	border-bottom: 2px solid #6DC5DC;
	padding-bottom: 12px;
	margin-top: 36px;
}

.mc-p {
	color: #373737;	
	font-size: 16px;
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: normal;
	margin-bottom: 0;
}

.mc-a {
	color: #5D5C5D;	
	font-size: 14px;
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: normal;
	margin-bottom: 0;	
}

/* 	Header
	---------------------------------------------------------------  */

.mailchimp-header {
	background: url(images/mailchimp-header.png) no-repeat;
	background-size: 900px 96px;
	height: 96px;
	width: 900px;
	margin-top: 19px;
}

.mailchimp-header h2 {
	float: right;
	margin-top: 24px;
	margin-right: 12px;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 700;
	color: #fff !important;
	text-shadow: none;
	font-size: 26px !important;
}


/* 	Table 
	---------------------------------------------------------------  */

table.mc-widefat {
	background: #fff !important;
	border: 2px solid #95D1C4 !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	margin: 44px 0 36px;
}
table.mc-widefat td,
table.mc-widefat th {
	border-bottom: 1px solid #C5E5DE !important;
	border-top: none !important;
	padding: 18px;
	text-align: left;
	text-shadow: none;
}

table.mc-widefat .last-row td,
table.mc-widefat .last-row th {
	border-bottom: none !important;
}

table.mc-widefat th {
	color: #373737 !important;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 700;
	width: 130px;	
}

table.mc-widefat td label {
	padding-left: 24px;
	display: block;
	margin-top: -17px;
	font-style: normal;
	font-size: 12px;
}

table.mc-widefat td {
	color: #5D5C5D !important;
	font-size: 12px;
	line-height: 18px !important;
}

table.mc-widefat td input {
	display: inline-block;
	font-style: normal;
}


table.mc-widefat tr:first-child {
	background: #95D1C4 !important;
}
table.mc-widefat tr:first-child th {
	color: #fff !important;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 16px;
	margin-left: 9px;
	text-shadow: none;	
	border-bottom: none !important;
}


.mc-internal-heading {
	background: rgba(197,229,222,0.25) !important;	
}
table.mc-widefat tr.mc-internal-heading th {
	text-shadow: none !important;
	color: #449A88 !important;
}

tr.mc-turned-on th {
	color: #449A88 !important;	
}
.mc-custom-styling em,
.mc-custom-styling td {
	font-style: normal;
	font-size: 13px;
}

.mc-custom-styling td span.mc-pre-input {
	width: 14px;
	display: inline-block;
}

.mc-custom-styling td input {
	width: 70px;
	margin-right: 7px;
}
.mc-custom-styling td input[type="checkbox"] {
	width: auto;
	margin-right: 7px;
}




.mc-widefat.mc-blue {
	background: #fff !important;
	border: 2px solid #6DC5DC !important;	
}

table.mc-widefat.mc-blue td,
table.mc-widefat.mc-blue th {
	border-bottom: 1px solid #B1E0EC !important;
}
table.mc-widefat.mc-blue tr:first-child {
	background: #6DC5DC !important;
}

.mc-widefat.mc-yellow {
	background: #fff !important;
	border: 2px solid #FEDE88 !important;	
}

table.mc-widefat.mc-yellow td,
table.mc-widefat.mc-yellow th {
	border-bottom: 1px solid #FFE8AA !important;
}
table.mc-widefat.mc-yellow tr:first-child {
	background: #FEDE88 !important;
}



.mc-widefat.mc-api {
	border: 2px solid #95D1C4 !important;	
}

table.mc-widefat.mc-api {
	margin-bottom: 19px;
	margin-top: 19px;
}
table.mc-widefat.mc-api td,
table.mc-widefat.mc-api th {
	border-bottom: none !important;
}
table.mc-widefat.mc-api tr:first-child {
	background: #95D1C4 !important;
}

a.mc-api-key {
	color: #fff;
	display: block;
	margin-top: 3px;
}
a.mc-api-key:hover {
	color: #fff;
	text-decoration: underline;
}

.mc-api-submit {
	margin-bottom: 19px;
}


.mc-submit {
	float: right;
	clear: both;
}


.mailchimp-login {
	background: #449A88;
	color: #fff;
	text-transform: capitalize;
	padding: 8px 72px;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	border-bottom: 2px solid #72C1B0;
	margin-top: 2px;
	position: relative;
	box-sizing: border-box;
}
.mailchimp-login:hover {
	background: #72C1B0;
	border-color: #449A88;
	color: #fff;
}
th.mailchimp-connect {
	width: 100% !important;
}

#wpfooter {
	margin-left: 0 !important;
}
