/* 	Headings
	---------------------------------------------------------------  */

.error_msg { 
	background: #fadbd5;
	border: 1px solid #db3a1b;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing: border-box;
	color: #373737; 
	font-size: 12px;
	line-height: 16px;
	margin: 12px 0;
	padding: 9px;
	width: 900px;
}
.success_msg { 
	background: #fff3d4;
	border: 1px solid #febe12;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing: border-box;
	color: #373737; 
	font-size: 12px;
	line-height: 16px;
	margin: 12px 0;
	padding: 9px;
	width: 900px;
}

/* 	User
	---------------------------------------------------------------  */

table.mc-user {
	width: 900px;
	margin-top: 19px;
}
table.mc-user tr {
	float: right;
}
.mc-user td:first-of-type {
	border-top: 1px solid #6dc5dc;
	border-bottom: 1px solid #6dc5dc;
	border-left: 1px solid #6dc5dc;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	min-width: 200px;
	font-weight: normal !important;
}
.mc-user td:last-of-type {
	border-top: 1px solid #6dc5dc;
	border-right: 1px solid #6dc5dc;
	border-bottom: 1px solid #6dc5dc;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	min-width: 75px;
}

.mc-user h3 {
	font-weight: normal;
	text-indent: 9px;
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

/* 	Headings
	---------------------------------------------------------------  */

.mc-h2 {
	color: #373737;	
	font-size: 26px;
	margin-bottom: 0;
}

.mc-p {
	color: #373737;	
	font-size: 16px;
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: normal;
}

/* 	Header
	---------------------------------------------------------------  */

.mailchimp-header {
	background: url(images/mailchimp-header.png) no-repeat;
	background-size: 900px 96px;
	height: 96px;
	width: 900px;
	margin-top: 19px;
}

.mailchimp-header h2 {
	float: right;
	margin-top: 24px;
	margin-right: 12px;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 700;
	color: #fff !important;
	text-shadow: none;
	font-size: 26px !important;
}


/* 	Table 
	---------------------------------------------------------------  */

table.mc-widefat {
	background: #fff !important;
	border: 2px solid #95D1C4 !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	margin-bottom: 24px;

}
table.mc-widefat td,
table.mc-widefat th {
	border-bottom: 1px solid #C5E5DE !important;
	border-top: none !important;
	padding: 18px;
}

table.mc-widefat .last-row td,
table.mc-widefat .last-row th {
	border-bottom: none !important;
}

table.mc-widefat th {
	color: #373737 !important;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 700;
	width: 130px;	
}

table.mc-widefat td label {
	padding-left: 24px;
	display: block;
	margin-top: -13px;
	font-style: normal;
	font-size: 12px;
}

table.mc-widefat td {
	color: #5D5C5D !important;
	font-size: 12px;
	line-height: 18px !important;
}

table.mc-widefat td input {
	display: inline-block;
	font-style: normal;
}


table.mc-widefat tr:first-child {
	background: #95D1C4 !important;
}
table.mc-widefat tr:first-child th {
	color: #fff !important;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 16px;
	margin-left: 9px;
	text-shadow: none;	
	border-bottom: none !important;
}


.mc-internal-heading {
	background: rgba(197,229,222,0.25) !important;	
}
table.mc-widefat tr.mc-internal-heading th {
	text-shadow: none !important;
	color: #449A88 !important;
}

tr.mc-turned-on th {
	color: #449A88 !important;	
}
.mc-custom-styling em,
.mc-custom-styling td {
	font-style: normal;
	font-size: 13px;
}

.mc-custom-styling td span.mc-pre-input {
	width: 14px;
	display: inline-block;
}

.mc-custom-styling td input {
	width: 70px;
	margin-right: 7px;
}





